/* =========================
   Business Days Input Styling
   ========================= */
#businessDays {
    border: 1px solid #353941; /* Simple 1 colored border */
    transition: border-color 0.3s ease; /* Smooth transition for border color */
}

/* Placeholder text color */
#businessDays::placeholder {
    color: #7D8C8D; /* Grey color for placeholder text */
}

/* Placeholder text color for WebKit browsers */
#businessDays::-webkit-input-placeholder {
    color: #7D8C8D; /* Grey color for placeholder text */
}

/* Placeholder text color for Mozilla Firefox */
#businessDays::-moz-placeholder {
    color: #7D8C8D; /* Grey color for placeholder text */
}

/* Placeholder text color for Internet Explorer and Edge */
#businessDays:-ms-input-placeholder {
    color: #7D8C8D; /* Grey color for placeholder text */
}

/* Border color on focus */
#businessDays:focus {
    border-color: #76ABAE; /* Change border color on focus */
    outline: none; /* Remove default outline */
}
