

/* =========================
   Checkbox Styling
   ========================= */
.checkbox-wrapper-42 {
    display: flex;
    align-items: center;
    margin: 10px 0; /* Increased margin for better spacing */
}

.checkbox-wrapper-42 input[type="checkbox"] {
    display: none;
}

.checkbox-wrapper-42 .cbx {
    width: 17px;
    height: 17px;
    border: 1px solid #76ABAE;
    border-radius: 3px;
    background: #2A2E34;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
}

.checkbox-wrapper-42 .cbx:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    width: 5px;
    height: 10px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid #FFFFFF; /* Ensure checkmark color is white */
    border-bottom: 2px solid #FFFFFF; /* Ensure checkmark color is white */
    transition: all 0.3s ease;
}

.checkbox-wrapper-42 input[type="checkbox"]:checked ~ .cbx {
    background: #76ABAE;
    border-color: #76ABAE;
}

.checkbox-wrapper-42 input[type="checkbox"]:checked ~ .cbx:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
}
